<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Classifier</title>
</head>
<body>
<h2>Please enter your movie review:</h2>
{%from "_formhelpers.html" import render_field%}
<form method=post action="/results">
    <dl>
        {{render_field(form.movie_review, cols='30', rows='10') }}
    </dl>
    <div>
        <input type=submit value="Submit Review" name="submit_btn">
    </div>
</form>

</body>
</html>